html, body {
    margin: 0;
    height: 100%;
}
body {
    background: #009999;
    background-repeat:repeat-y;
    background-size: auto;
    overflow:auto;
    font-family: 'Inter';
}

#topDiv {
    height: 24%;
}
#bottomDiv {
    height: 40%;
    text-align:center
}

#input{
    height: 30px;
    width: 350px;
    font-size: larger;
    font-family: 'Inter';
}

#submit {
    height: 35px;
    width: 100px;
    font-size: larger;
    font-family: 'Inter';
    margin-left:20px;
}

a { 
    color: blue;
}


