*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    background-size: auto;
    overflow: hidden;
}

#topDiv {
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

#bottomDiv {
    height: 5%;
}
.column {
    
    text-align: center;
    width: 33.33%;
    padding: 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 150%;
  }

.column img {
    width: 200px;
    height: 200px;
 
}
input[type=checkbox] {
    vertical-align: top;
    position: relative;
    bottom: 1px;
}
input[type=submit] {
    height: 35px;
    width: 100px;
    font-size: larger;
    font-family: 'Inter';
    margin-left:20px;
}