html, body {
    margin: 0;
    height: 100%;
}
body {
    background: linear-gradient(to bottom, #009999 54%, #ffcccc 103%);
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    font-family: 'Inter';
}

#topDiv {
    height: 24%;
}
#bottomDiv {
    height: 40%;
    text-align:center
}



input {
    height: 35px;
    width: 200px;
    font-size: larger;
    font-family: 'Inter';
    margin-left:20px;
}

a { 
    color: blue;
}

#text1 {
    padding: 0px 40px 0px 0px;
}

#text2 {
    padding: 0px 40px 0px 0px;
}

#text3 {
    padding: 0px 40px 0px 8px;
}